@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fefefe;
}

@layer components {
  .box {
    @apply py-3 border-b border-gray-300;
  }
  .input-primary {
    @apply border-b px-1 py-2 border-gray-400 text-black bg-white w-full;
  }
  .btn-primary{
    @apply border border-blue-500 px-2 py-1 bg-blue-500 text-white rounded-md;
  }
}
